li {
  display: inline-block;
  margin-right: 20px;
}

a {
  border: 1px solid #677fb5;
  border-radius: 5px;
  color: #677fb5;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 400ms linear 0s;
  width: 40px;
}

li:nth-child(2) a {
  border-color: #70c2e9;
  color: #70c2e9;
}

li:nth-child(2):hover a {
  background: #70c2e9;
}

li:nth-child(3) a {
  border-color: #895a4d;
  color: #895a4d;
}

li:nth-child(3):hover a {
  background: #895a4d;
}

li:nth-child(4) a {
  border-color: #5ecbf3;
  color: #5ecbf3;
}

li:nth-child(4):hover a {
  background: #5ecbf3;
}

li:hover a {
  background: #677fb5;
  color: #fff;
}
