<!--<h1>My custom component from {{user.name}}</h1>-->
<!--<h2 *ngIf="show">Age {{user.age}}</h2>-->

<!--<p></p>-->

<!--<ul>-->
  <!--<li *ngFor="let user of users">-->
    <!--<span>{{user.name}}</span>-->
    <!--<span>{{user.age}}</span>-->
  <!--</li>-->
<!--</ul>-->

<!--<img src="{{imageUrl}}" alt="">-->
<!--<img [src]="imageUrl" alt="">-->

<!--<h4>Image location: <span [textContent]="imageUrl"></span></h4>-->
<!--<h3 [hidden]="imageUrl">Image not found</h3>-->


<section class="about_person_area pad">
  <div class="row">
    <div class="col-md-5">
      <div class="person_img">
        <img src="{{avatarUrl}}" alt="">
      </div>
    </div>

    <div class="col-md-7">
      <div class="row person_details">
        <h3>Hi I'm <span>{{name}}</span></h3>
        <h4>Frontend Developer</h4>

        <p>
          My name is {{user.name}}. I am {{user.age}} years old.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur ascing elits, sed
          do eiusmod tempor incidunt ut labore et dolore mafgna aliqua. Ut enim ad mini vniam quis nerci, tation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis autes irure dolor in reprehenderit in etrs
          voluptate velit esse cillum dolore eu fugiat nulla pariatur. The standard chunk of Lorem Ipsum used since
          the 1500s is reproduced below for those interested.
        </p>

        <div class="person_information" *ngIf="show_info">
          <ul>
            <li>Age</li>
            <li>Nationality</li>
            <li>Phone</li>
            <li>Email</li>
          </ul>
          <ul>
            <li>{{user.age}}</li>
            <li>{{user.nationality}}</li>
            <li><a href="tel:{{user.phone}}">{{user.phone}}</a></li>
            <li><a href="mailto:{{user.email}}">{{user.email}}</a></li>
          </ul>
        </div>

        <app-socialicon></app-socialicon>
      </div>
    </div>
  </div>
</section>
