.about_person_area {
  background: #fff;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;
}

.person_img {
  max-width: 322px;
}

img {
  max-width: 100%;
}

.person_details {
  margin-left: -30px;
}

h3 {
  color: #333;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px;
  text-transform: uppercase;
}

h3 span {
  color: #fec608;
}

h4 {
  color: #666;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
  width: 100%;
}

p {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.person_information {
  padding: 15px 0 25px;
  width: 100%;
}

ul {
  display: inline-block;
  vertical-align: top;
}

a {
  color: #333;
  font-size: 13px;
  line-height: 26px;
}

ul + ul {
  padding-left: 55px;
}

ul + ul a {
  color: #666;
}
