@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Raleway:100,200,300,400,500,600,700,800,900|Yellowtail');

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover, a:focus {
  text-decoration: none;
}

.row.m0 {
  margin: 0;
  padding: 0;
}

body {
  color: #333333;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

body.light_bg {
  background: url('assets/Pattern_Light.png') repeat scroll center center;
}

body .content_inner_bg {
  background: #efefef;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.pad {
  padding: 0 68px;
}

@media (max-width: 600px) {
  .pad {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 500px) {
  .pad {
    padding-left: 15px;
    padding-right: 15px;
  }
}
